.button {
  padding: 10px 30px;
  background-color: #c0a353;
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  width: 100%;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
