.settings {
  font-weight: normal;

  &__content {
    display: flex;
    max-width: 1200px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
  }

  &__sidebar {
    width: 250px;
    background-color: var(--background-color);
    padding: 20px;
    height: 100vh;
    border-right: 1px solid #dddddda1;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5em;
    color: var(--text-color);
    margin: 0;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      gap: 20px;
      font-size: 1em;
      color: var(--text-color);
      text-decoration: none;
      border-radius: 12px;
      transition:
        background-color 0.2s,
        color 0.2s;

      &:hover {
        background-color: var(--background-color);
        color: var(--black);
      }

      &--danger {
        color: var(--danger);
        font-size: 0.9em;

        &:hover {
          background-color: var(--background-color);
        }
      }

      .settings__icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        fill: currentcolor; 
      }
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 450px;

    #old-password {  
      margin-top: 65px;
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__form {
    padding: 50px 80px;
    gap: 20px;
  }

  &__section-title {
    font-size: 1.3em;
    font-weight: normal;
  }

  &__avatar {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;

    &-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--background-color);
      object-fit: cover;
    }

    &-input {
      display: none;
    }

    &-title {
      cursor: pointer;
      color: var(--secondary-color);
      font-size: 0.9em;
    }
  }

  #account {
    display: flex;
    justify-content: space-around;
  }

  &__password-section {
    margin-top: 30px;

    &__title {
      font-size: 1.2em;
      font-weight: normal;
      margin-bottom: 15px;
      color: var(--text-color);
    }
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__submit-button {
    margin: 55px 50px 0 0;
    justify-content: flex-end;
  }
}
