<div class="page-505">
  <div class="page-505__content">
    <h1 class="page-505__title">505</h1>
    <p class="page-505__text">Внутренняя ошибка сервера.</p>
    {{> Button id="go-home" className="page-505__button" type="button" label="Вернуться на главную" }}
  </div>
</div>
