.sidebar {
  width: 460px;
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  padding: 15px;

  h2 {
    font-weight: normal;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
  }

  &__search {
    padding: 10px;

    input {
      border: 1px solid rgba(204, 204, 204, 0.4); 
      box-sizing: border-box;
      border-radius: 12px;
      font-size: 0.8em;
      padding: 15px;
      outline: none;
      width: 100%;
      height: 46px;

      &:focus {
        border-color: #999;
      }
    }
  }

  &__chat-list {
    list-style: none;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  &__profile-link {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.487);
  }
}

.chat-item {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #f5f1f1;
  background-color: var(--background-color);
  border-radius: 20px;

  &__avatar {
    width: 60px;
    height: 60px;
    border: 1px solid #dadada;
    border-radius: 24px;
    margin-right: 10px;
  }

  &__info {
    padding-top: 3px;
    flex: 1;
    gap: 9px;
  }

  &__name {
    font-size: 0.8em;
    font-weight: normal;
  }

  &__last-message {
    font-size: 0.8em;
    color: #666666ac;
  }

  &__timestamp {
    font-size: 0.7em;
    margin-right: 5px;
    color: #aaa;
  }
}

.chat-area {
  margin-right: 50px;
  height: 90vh;
  width: 100%;
  justify-content: flex-end;

  &__placeholder {
    font-size: 1.2em;
    color: #999;
    text-align: center;
    align-self: center;
  }  

  &__input {
    gap: 10px;

    &-field {
      input {
        width: 600px;
        max-width: none;
      }
    }
  }
}
