.login, .register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
  }

  &__form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 36px 30px;
    border: 1px solid rgba(0, 0, 0, 0.15); 
    border-radius: 26px;
    width: 454px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  }
  
  &__error {
    color: red;
    font-size: 14px;
    text-align: center;
  }

  &__help {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #555;
  }

  &__link {
    color: #860038;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      text-decoration: none;
    }
  }
}

.input--error {
  border: 1px solid red;
}

.input--error + .error-message {
  color: red;
  font-size: 12px;
}
