:root {
  --primary-color: #c0a353;
  --secondary-color: #860038;
  --background-color: #f4f4f4;
  --text-color: #515151;
  --danger: #d9534f;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: medium;
  background-color: var(--background-color);
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.menu-item {
  text-decoration: none;
}

.navbar {
  position: relative;
  background-color: #f4f4f4;
  padding: 5px;

  .navbar__list {
    position: absolute;
    list-style: none;
    padding: 5px;
    margin-top: 4px;
    display: none;
    width: 200px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    &.open {
      display: block;
    }
  }

  .navbar__toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: #0056b3;
    }
  }
}
