:root {
  --primary-color: #c0a353;
  --secondary-color: #860038;
  --background-color: #fff;
  --text-color: #515151;
  --danger: #d9534f;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: medium;
  background-color: var(--background-color);
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.menu-item {
  text-decoration: none;
}

.navbar {
  gap: 40px;
  background-color: #c0a353;
  padding: 0 20px;
  height: 40px;

  &__list {
    gap: 30px;
    list-style-type: none;
  }

  &__link {
    color: var(--secondary-color);
  }
}
