<body>
  <div class="login flex align-center justify-center">
    <form class="login__form flex" action="/submit-login" method="POST">
      <h1 class="login__title">Регистрация</h1>
      
      <div class="login__form-group">
        {{> Label forAttr="email" text="Почта" }}
        {{> Input id="email" type="text" placeholder="Введите почту" value="" }}
      </div>
      
      <div class="login__form-group">
        {{> Label forAttr="login" text="Логин" }}
        {{> Input id="login" type="text" placeholder="Введите логин" value="" }}
      </div>
      
      <div class="login__form-group">
        {{> Label forAttr="second_name" text="Фамилия" }}
        {{> Input id="second_name" type="text" placeholder="Введите фамилию" value="" }}
      </div>
      
      <div class="login__form-group">
        {{> Label forAttr="first_name" text="Имя" }}
        {{> Input id="first_name" type="text" placeholder="Введите имя" value="" }}
      </div>
      
      <div class="login__form-group">
        {{> Label forAttr="password" text="Пароль" }}
        {{> Input id="password" type="password" placeholder="Введите пароль" value="" }}
      </div>

      <div class="login__form-group">
        {{> Label forAttr="phone" text="Телефон" }}
        {{> Input id="phone" type="text" placeholder="Введите ваш телефон" value="" }}
      </div>
      
      {{> Button id="login-btn" type="submit" label="Регистрация" className="primary-button" }}
    </form>
    <p class="login__error" id="error-message"></p>
  </div>
</body>
