<div class="chat-item flex">
  <div class="chat-item__avatar">
    <img
      src="https://static.vecteezy.com/system/resources/previews/048/216/761/non_2x/modern-male-avatar-with-black-hair-and-hoodie-illustration-free-png.png"
      alt="avatar"
      class="chat-item__avatar-img"
    />
  </div>
  <div class="chat-item__info flex-column">
    <div class="chat-item__name">{{name}}</div>
    <div class="chat-item__last-message">{{lastMessage}}</div>
  </div>
  <div class="chat-item__timestamp">{{timestamp}}</div>
</div>
