<div class="chat-item flex">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__info flex-column">
    <div class="chat-item__name">{{name}}</div>
    <div class="chat-item__last-message">{{lastMessage}}</div>
  </div>
  <div class="chat-item__timestamp">{{timestamp}}</div>
</div>