<main>
  <div class="login">
    <form class="login__form flex" action="/submit-login" method="POST">
      <h1 class="login__title">Вход</h1>

      <div class="login-form__input">
        {{{loginInput}}}
      </div>

      <div class="login-form__input">
        {{{passwordInput}}}
      </div>

      <div class="login-form__button">
        {{{submitButton}}}
      </div>

      <p class="login__help">
        <a class="login__link" href="/register">Впервые? </a>
      </p>
    </form>
    <p class="login__error" id="error-message"></p>
  </div>
</main>
