<main>
<div class="page-404">
  <div class="page-404__content">
    <h1 class="page-404__title">404</h1>
    <p class="page-404__text">Страница не найдена.</p>
    <p class="page-404__subtext">Возможно, она была удалена или вы ввели неправильный адрес.</p>
    {{{ button }}}
  </div>
</div>
</main>


